{% extends 'base.html' %}
 {% load static %}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>
   
    <link rel="stylesheet" href="{% static 'style2.css' %}"/>
</head>
<body>
    {% block contant%}

    <div class="login-container p-5 rounded border border-warning ">
        <h2 class="text-center">Sign In</h2>
        <form action="#" method="POST">
            <div class="input-group form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required class="form-control">
            </div>
            <div class="input-group">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" required class="form-control">
            </div>
            <button type="submit" class="btn btn-warning">login</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>


